#a {
    font-family: "ABeeZee", sans-serif;
}
#b {
    font-family: "Abril Fatface", cursive;
}
#c {
    font-family: "Anton", sans-serif;
}
#d {
    font-family: "Cormorant Garamond", serif;
}
#e {
    font-family: "Koulen", cursive;
}
#f {
    font-family: "Macondo", cursive;
}
#g {
    font-family: "Oleo Script Swash Caps", cursive;
}
#h {
    font-family: "Pacifico", cursive;
}
#i {
    font-family: "Permanent Marker", cursive;
}
#j {
    font-family: "Playfair Display", serif;
}
#k {
    font-family: "Prompt", sans-serif;
}
#l {
    font-family: "Roboto Mono", monospace;
}
#m {
    font-family: "Secular One", sans-serif;
}
#n {
    ffont-family: "Shadows Into Light", cursive;
}
#o {
    font-family: "Smokum", cursive;
}
#p {
    font-family: "Staatliches", cursive;
}
#q {
    font-family: "Tapestry", cursive;
}
#r {
    font-family: "Water Brush", cursive;
}
#s {
    font-family: "Zen Loop", cursive;
}
#t {
    font-family: "Cormorant Garamond", serif;
}
#u {
    font-family: "Nanum Myeongjo", serif;
}
